@import "customize_foundation";
// import the CSS framework
@import "foundation";

.full-width { width: 100%; max-width: 100%; }

// override for the 'Home' navigation link
.top-bar {
  -moz-box-shadow: 0 -5px 0px 7px $red;
  -webkit-box-shadow: 0 -5px 0px 7px $red;
  box-shadow: 0 -5px 0px 7px $red;
  margin-top: 5px;  
  .name {
    font-size: rem-calc(20);
    line-height: $topbar-height; 
    a {
      font-weight: normal;
      color: white;
      padding: 0 15px; 
    }
  }
}

.label{
  margin-right: 5px;
}

.alert{
  margin-left: -20px;
  margin-right: -20px;
  text-align: center;
}

.orbit-container {
  .orbit-slides-container {
    li{
      @extend .pad10;
    }
    img{
      &.inline{
        display: inline;
      }
    }
  }
  .orbit-prev{
    border-radius: 10px 0 0 10px;
  }
  .orbit-next{
    border-radius: 0 10px 10px 0;
    
  }
}