body{
  background-image: image-url('global/fabric.png');
  // background-image: image-url('global/vertical_cloth.jpg');
  background-repeat: true;
}

main {
  @extend .small-12;
  @extend .columns;
  margin-top: 15px;
}

section.section {
  @extend .row;
  margin-top: 20px;
}

.come-in {
  -webkit-animation: fadeIn 0.2s linear;
  animation: fadeIn 0.2s linear;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.come-in:nth-child(odd) {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}
