%li
  %label.large Menu
- if user_signed_in?
  - if current_user.has_role? :admin
    %li
      %label
        %i.fi-widget
        Admin
    %li
      = link_to 'Users', users_path
- else      
  %li= link_to 'Sign up', new_user_registration_path
  %li= link_to 'Sign in', new_user_session_path

%li
  %label
    %i.fi-list
    Main
%li
  = link_to events_path do
    %i.fi-calendar
    Events